# Bỏ qua thư mục chứa ảnh (quan trọng để không làm nặng repo)
data/

# Bỏ qua các file rác của Python và Jupyter
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Bỏ qua môi trường ảo (nếu bạn có dùng)
venv/
.venv/
env/

# Bỏ qua các file cấu hình của VS Code và hệ điều hành
.vscode/
.DS_Store
Thumbs.db# Bỏ qua thư mục chứa ảnh (quan trọng để không làm nặng repo)
data/

# Bỏ qua các file rác của Python và Jupyter
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Bỏ qua môi trường ảo (nếu bạn có dùng)
venv/
env/

# Bỏ qua các file cấu hình của VS Code và hệ điều hành
.vscode/
.DS_Store
Thumbs.db